.body{
  width:100vw;
  height: 100vh;
}

.container{
  margin: 0 auto;
  width:100%;
  max-width: 1368px;

  display:flex;
  justify-content: center;
  align-items: center;

  &__counter {
    font-size: 25px;
    padding: 5px;
    color: black;
    border-radius: 4px;
    border: black 1px solid;
    margin-right: 15px;
  }

  &__button {
    border-radius: 4px;
    background: #FF3333;
    color: white;
    font-size: 16px;
    padding: 12px 10px 13px 7px;
  }

}
